build

.cache/
.vscode
.DS_Store
*.swp

bench/spec2017
bench/spec2017 (copy)
bench/cpu2017-1_0_5.iso
bench/-O0/
bench/-O1/
bench/-O3/
bench/-Os_-fno-vectorize_-fno-slp-vectorize_-fno-unroll-loops/

results/

input-*/
O0*/
O0*.zip
Os*/
Os*.zip
Oz*/
Oz*.zip
*/.cache/

llvm-compiled/


cpu2017-1_0_5.iso
spec2017/
function-merging-pass/.vscode/
files_from_artifact/
pldi20ae-final/